# === 資料庫 ===
DB_DSN=exampleuser:examplepassword@tcp(localhost:3306)/?multiStatements=true

# === Discord ===
DISCORD_BOT_TOKEN=
DISCORD_BOT_CHANNELID=

# === 交易參數 ===
TrackStocks_Market=00631L
TrackStocks_HighDividend=00830&00662
Scaling_Strategy=Pyramid
BuyAndSell_Multiplier=2.0
BackTesting=3600
